In [1]:
# Load Libiries 
import numpy as np
import pandas as pd

In [2]:
# Load Dataset
train_data= pd.read_csv(r"C:\Users\keshav\OneDrive\Desktop\Recorded Lectures Video\AI Files & REcordings\train.txt",sep=";", names=["text","labels"])
val_data= pd.read_csv(r"C:\Users\keshav\OneDrive\Desktop\Recorded Lectures Video\AI Files & REcordings\val.txt",sep=";", names=["text","labels"])
test_data= pd.read_csv(r"C:\Users\keshav\OneDrive\Desktop\Recorded Lectures Video\AI Files & REcordings\test.txt", sep=";", names=["text","labels"])

In [3]:
train_data.head()

                                                text   labels
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [4]:
test_data.head()

                                                text   labels
0  im feeling rather rotten so im not very ambiti...  sadness
1          im updating my blog because i feel shitty  sadness
2  i never make her separate from me because i do...  sadness
3  i left with my bouquet of red and yellow tulip...      joy
4    i was feeling a little vain when i did this one  sadness

In [5]:
val_data.head()

                                                text   labels
0  im feeling quite sad and sorry for myself but ...  sadness
1  i feel like i am still looking at a blank canv...  sadness
2                     i feel like a faithful servant     love
3                  i am just feeling cranky and blue    anger
4  i can have for a treat or if i am feeling festive      joy

In [6]:
print(train_data.shape)
print(test_data.shape)
print(val_data.shape)

(16000, 2)
(2000, 2)
(2000, 2)

In [7]:
train_data["labels"].value_counts()

labels
joy         5362
sadness     4666
anger       2159
fear        1937
love        1304
surprise     572
Name: count, dtype: int64

In [8]:
test_data["labels"].value_counts()

labels
joy         695
sadness     581
anger       275
fear        224
love        159
surprise     66
Name: count, dtype: int64

In [9]:
val_data["labels"].value_counts()

labels
joy         704
sadness     550
anger       275
fear        212
love        178
surprise     81
Name: count, dtype: int64

In [12]:
def sentiment(text):
    if text in ["joy","love","surprise"]:
        return "Pos"
    else:
        return "Neg"

In [13]:
train_data["Sentiment"]=train_data["labels"].apply(sentiment)
test_data["Sentiment"]=test_data["labels"].apply(sentiment)

In [16]:
train_data.head()

                                                text   labels Sentiment
0                            i didnt feel humiliated  sadness       Neg
1  i can go from feeling so hopeless to so damned...  sadness       Neg
2   im grabbing a minute to post i feel greedy wrong    anger       Neg
3  i am ever feeling nostalgic about the fireplac...     love       Pos
4                               i am feeling grouchy    anger       Neg

In [17]:
test_data.head()

                                                text   labels Sentiment
0  im feeling rather rotten so im not very ambiti...  sadness       Neg
1          im updating my blog because i feel shitty  sadness       Neg
2  i never make her separate from me because i do...  sadness       Neg
3  i left with my bouquet of red and yellow tulip...      joy       Pos
4    i was feeling a little vain when i did this one  sadness       Neg

In [18]:
from textblob.classifiers import NaiveBayesClassifier as nb

In [20]:
li=[]
for i in range(len(train_data["text"])):
    li.append((train_data["text"][i], train_data["Sentiment"][i]))

In [21]:
li[0:2]

[('i didnt feel humiliated', 'Neg'),
 ('i can go from feeling so hopeless to so damned hopeful just from being around someone who cares and is awake',
  'Neg')]

In [22]:
training_model=nb(li[:2000])

In [24]:
training_model.classify("this place is good")

'Pos'

In [25]:
li_test=[]
for i in range(len(test_data["text"])):
    li_test.append((test_data["text"][i], test_data["Sentiment"][i]))

In [26]:
li_test[0:2]

[('im feeling rather rotten so im not very ambitious right now', 'Neg'),
 ('im updating my blog because i feel shitty', 'Neg')]

In [27]:
training_model.accuracy(test_set=li_test)

0.837