In [2]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: nltk>=3.9 in c:\users\keshav\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\keshav\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\keshav\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\keshav\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\keshav\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\keshav\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 624.3/624.3 kB 7.7 MB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.19.0

In [1]:
# Load Important Libraries
import numpy as np
import pandas as pd
import re 
from textblob import TextBlob

In [ ]:
# TextBlob-This library is used in NLP for statement analysis, part of speech tagging, transalation and many more tasks.

In [2]:
data=pd.read_csv(r"C:\Users\keshav\OneDrive\Desktop\Recorded Lectures Video\AI Files & REcordings\snapdeal_tweets.csv")

In [3]:
data.head()

   Unnamed: 0                                    snapdeal_tweets
0           0  Heartbroken to share that our colleague of 9 y...
1           1  We have waived shipping charges on all product...
2           2  @HarjotPal4 Getting this checked with the conc...
3           3  @BasavarajKandri Hi! Please elaborate on what ...
4           4  @Snapdeal_Help  I am basavaraj kandri. Please ...

In [4]:
data["snapdeal_tweets"][20]

'Owner of @snapdeal lost his aunt due to shortage of oxygen. Condolences.\n\nWhen people with resources are affected tâ€¦ https://t.co/D7ZI49ayqL'

In [5]:
# Clean text
def clean_text(text):
    class_words=re.sub("http\S+"," ",text)
    class_words=re.sub("#[\w]*"," ",class_words)
    class_words=re.sub("@[\w]*"," ",class_words)
    class_words=re.sub("[^a-zA-Z0-9]"," ",class_words)
    return class_words

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\w'
<>:5: SyntaxWarning: invalid escape sequence '\w'
<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\w'
<>:5: SyntaxWarning: invalid escape sequence '\w'
C:\Users\keshav\AppData\Local\Temp\ipykernel_22696\2603305911.py:3: SyntaxWarning: invalid escape sequence '\S'
  class_words=re.sub("http\S+"," ",text)
C:\Users\keshav\AppData\Local\Temp\ipykernel_22696\2603305911.py:4: SyntaxWarning: invalid escape sequence '\w'
  class_words=re.sub("#[\w]*"," ",class_words)
C:\Users\keshav\AppData\Local\Temp\ipykernel_22696\2603305911.py:5: SyntaxWarning: invalid escape sequence '\w'
  class_words=re.sub("@[\w]*"," ",class_words)

In [6]:
clean_text(data['snapdeal_tweets'][20])

'Owner of   lost his aunt due to shortage of oxygen  Condolences   When people with resources are affected t   '

In [7]:
clean_data= data.iloc[:,1].apply(clean_text)

In [8]:
clean_data

0      Heartbroken to share that our colleague of 9 y...
1      We have waived shipping charges on all product...
2        Getting this checked with the concerned team...
3        Hi  Please elaborate on what went wrong via ...
4                 I am basavaraj kandri  Please help me
                             ...
187      Would never ever again order from SNAPDEAL m...
188      It was actually planned to be delivered to  ...
189    RT    Complete the Snapdeal tagline in the com...
190    RT    Snapdeal highlights its value e commerce...
191    RT      Welcome to the hottest seed segment of...
Name: snapdeal_tweets, Length: 192, dtype: object

In [11]:
clean_data=pd.DataFrame(clean_data)

In [12]:
# Get subjectivity and polarity
def get_sub(text):
    return TextBlob(text).sentiment.subjectivity
def get_pol(text):
    return TextBlob(text).sentiment.polarity

In [13]:
clean_data['Subjectivity']= clean_data.iloc[:,0].apply(get_sub)

In [14]:
clean_data

                                       snapdeal_tweets  Subjectivity
0    Heartbroken to share that our colleague of 9 y...      0.225000
1    We have waived shipping charges on all product...      0.000000
2      Getting this checked with the concerned team...      0.200000
3      Hi  Please elaborate on what went wrong via ...      0.758333
4               I am basavaraj kandri  Please help me       0.000000
..                                                 ...           ...
187    Would never ever again order from SNAPDEAL m...      0.491667
188    It was actually planned to be delivered to  ...      0.100000
189  RT    Complete the Snapdeal tagline in the com...      0.566667
190  RT    Snapdeal highlights its value e commerce...      0.454545
191  RT      Welcome to the hottest seed segment of...      0.650000

[192 rows x 2 columns]

In [15]:
clean_data['snapdeal_tweets'].head()

0    Heartbroken to share that our colleague of 9 y...
1    We have waived shipping charges on all product...
2      Getting this checked with the concerned team...
3      Hi  Please elaborate on what went wrong via ...
4               I am basavaraj kandri  Please help me
Name: snapdeal_tweets, dtype: object

In [16]:
clean_data['Polarity']= clean_data.iloc[:,0].apply(get_pol)

In [17]:
clean_data

                                       snapdeal_tweets  Subjectivity  Polarity
0    Heartbroken to share that our colleague of 9 y...      0.225000 -0.041667
1    We have waived shipping charges on all product...      0.000000  0.000000
2      Getting this checked with the concerned team...      0.200000  0.200000
3      Hi  Please elaborate on what went wrong via ...      0.758333  0.000000
4               I am basavaraj kandri  Please help me       0.000000  0.000000
..                                                 ...           ...       ...
187    Would never ever again order from SNAPDEAL m...      0.491667  0.300000
188    It was actually planned to be delivered to  ...      0.100000  0.000000
189  RT    Complete the Snapdeal tagline in the com...      0.566667  0.233333
190  RT    Snapdeal highlights its value e commerce...      0.454545  0.136364
191  RT      Welcome to the hottest seed segment of...      0.650000  0.300000

[192 rows x 3 columns]

In [21]:
def sentiment(polarity):
    if polarity>0.3:
        return 'Positive'
    elif polarity<-0.3:
        return 'Negative'
    else:
        return 'Neutral'

In [22]:
clean_data['Sentiment']= clean_data['Polarity'].apply(sentiment)

In [23]:
clean_data

,snapdeal_tweets,Subjectivity,Polarity,Sentiment
0,Heartbroken to share that our colleague of 9 y...,0.225000,-0.041667,Neutral
1,We have waived shipping charges on all product...,0.000000,0.000000,Neutral
2,Getting this checked with the concerned team...,0.200000,0.200000,Neutral
3,Hi Please elaborate on what went wrong via ...,0.758333,0.000000,Neutral
4,I am basavaraj kandri Please help me,0.000000,0.000000,Neutral
...,...,...,...,...
187,Would never ever again order from SNAPDEAL m...,0.491667,0.300000,Neutral
188,It was actually planned to be delivered to ...,0.100000,0.000000,Neutral
189,RT Complete the Snapdeal tagline in the com...,0.566667,0.233333,Neutral
190,RT Snapdeal highlights its value e commerce...,0.454545,0.136364,Neutral
191,RT Welcome to the hottest seed segment of...,0.650000,0.300000,Positive

In [24]:
clean_data['Sentiment'].value_counts()

Sentiment
Neutral     157
Positive     20
Negative     15
Name: count, dtype: int64

In [25]:
clean_data['snapdeal_tweets'][clean_data['Sentiment']=='Negative']

9        Snapdeal is a fake companyThis company does ...
10       Hi Ashi  There was nothing wrong with the se...
21       very bad quality oximeter in your website an...
31       Really sorry for the unpleasant experience  ...
57       one of the worst service ever by snapdeal  T...
75       Hi  Very sorry for the inconvenience caused ...
76       Worst product selling done by SD My contact9...
79       Isiliye desh ki g  padi hai  your priorities...
117      Hi  Really sorry for the unpleasant experien...
127          Fraud app please do not buy anything fro...
139    Fake IDs are usually punishable under Section ...
150    I have listed  Delrin Thin Triangle Guitar Pic...
164      THE WORST PLATFORM I HAVE EVER WORKED WITH I...
180      very bad service seriously why snapdeal reci...
181      We would like to inform you that we have bee...
Name: snapdeal_tweets, dtype: object